#carouselExample {
  background-image: url(../../images/parallax-2.jpg);
  background-position: 10% 10%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  @include display-flex();
  max-height: 450px !important;
  &_layer {
    @extend %layer;
  }
}
